@font-face {
  font-family: titleText;
  src: url(../fonts/PORKYS_.TTF);
}

@font-face {
  font-family: bodyText;
  src: url(../fonts/AlteHaasGroteskRegular.ttf);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(grey, silver);
  font-family: bodyText;
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -80px;
}

h1 {
  font-family: titleText;
  font-size: 100px;
  text-align: center;
}

#color1 {
  color: red;
}
#color2 {
  color: green;
}
#color3 {
  color: blue;
}
#color4 {
  color: yellow;
}

ul {
  list-style-type: none;
  margin-top: -50px;
}

li {
  margin: 5px;
  font-size: 25px;
  text-align: center;
}

h2 {
  font-size: 40px;
  text-align: center;
}

.board {
  background-color: black;
  padding: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 440px;
  height: 440px;
  border-radius: 50%;
}

.game-button {
  margin: 20px;
  width: 175px;
  height: 175px;
  opacity: 0.5;
  cursor: pointer;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
}

.game-button.active {
  opacity: 1;
}

#reset-button {
  margin-top: 50px;
  cursor: pointer;
  width: 150px;
  height: 100px;
  background-color: transparent;
  font-size: 40px;
  border: 0;
  font-family: titleText;
}

@media (max-width: 600px) {
  h1 {
    font-size: 55px;
    margin-top: 100px;
  }

  h2 {
    font-size: 20px;
  }

  ul {
    margin-top: 1px;
  }

  li {
    font-size: 20px;
  }

  #reset-button {
    font-size: 25px;
    margin-top: 0px;
  }

  .board {
    border-radius: 5%;
    padding: 10px;
  }
}
